* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto",
        Arial,
        Tahoma,
        sans-serif;
}

#auriculares{
	width: 67%;
	margin-left: 70px;
}

body {
    padding-top: 70px;
}

h1 {
    color: black;
    font-size: 12px;
    float: right;
    font-weight: 10px;
    font-style: italic;
}

h2 {
    font-size: 36px;
}

header {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #F7F9FA;
    z-index: 1;
}


header img {
    padding: 18px 10px;
}

nav {
    max-width: 1024px;
    margin: 0 auto;
}

nav ul {
    float: right;
    list-style: none;
    text-align: center;
    vertical-align: top;
}

nav li {
    list-style-type: none;
    padding: 0px;
    display: inline;
}

nav li a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
}

nav li a:hover {
    color: #5E5D6E;
}

.parallax {
    background-image: url("https://images.wallpapersden.com/image/download/asus-rog-logo_bGlsa2uUmZqaraWkpJRmbmdlrWZlbWU.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax img {
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    overflow: hidden;
}

/* #btn-fixed {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 4%;
} */

#whatsapp-floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#whatsapp-floating-btn img {
    width: 40px;
    height: auto;
    border-radius: 10%;
}


.call-to-action {
    max-width: 700px;
    margin: 150px auto;
    padding: 0 30px 0 30px;
    text-align: center;
}

p.big {
    font-size: 1.1em;
    line-height: 1.5em;
}

.call-to-action h2,
.call-to-action p,
.call-to-action button {
    margin-bottom: 20px;
}

button {
    padding: 15px 40px 15px 40px;
    background-color: black;
    font-size: 1em;
    color: white;
    -webkit-transition: background 1s linear;
    transition: background 0.5s linear;
}

button:hover {
    background-color: #4A4959;
}

.fa-whatsapp {
    color: green;
    font-size: 3em;
}

.info-box {
    background-color: #1C1D22;
    margin: 0px auto;
    padding: 110px 0 110px 0;
    color: white;
    text-align: center;
}

.info-box h2 {
    margin-bottom: 30px;
}

#flex-p {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#flex-p p {
    padding: 30px;
    max-width: 300px;
}

.fa-star,
.fa-thumbs-up,
.fa-check {
    font-size: 2.7em;
    display: block;
    color: white;
    margin-bottom: 30px;
}

.description-box {
	align-items: center;
    max-width: 1024px;
	height: 900px;
    margin: auto;
    margin-top: 80px;
}

.description-box h2 {
    text-align: center;
}

.img-container {
    margin-left: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 45%;
    padding: 20px;
}

.img-container img,
img-container p {
    width: 100%;
    padding-bottom: 10px;
}

.img-container p {
    text-align: justify;
}

/* footer {
    padding: 30px 0 30px 0;
    text-align: center;
    clear: both;
    background-color: black;
} */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 30px 0 30px 0;
    clear: both;
}

footer img {
    width: 40px;
    height: auto;
}


.fa-facebook-f,
.fa-twitter,
.fa-pinterest-p {
    font-size: 2em;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .img-container {
        width: 100%;
        margin: 0;
    }
}